@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  text-align: center;
  transition: background .6s;
}

#layout {
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.align{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.centered{
  display: inline-block;
  vertical-align: middle;
}

.subview {
  height: 100vh;
}

.subview.closing {
  opacity: 0;
  transition: opacity .4s;
}

[polymer] {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -ms-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  cursor: pointer;
}

[polymer] .touch {
  background: $poly-dark;
  pointer-events: none;
  border-radius: 100%;
}

[polymer=white] .touch {
  background: rgba(255, 255, 255, 0.3);
}

[polymer][raised], [polymer] .raised {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
[polymer]:focus, [polymer]:active {
  -moz-outline-style: none;
}
[polymer]:active {
  box-shadow: 0 8px 30px $shadow-dark-active;
}
[polymer][disabled], [polymer] .disabled, [polymer] [disabled]:active, [polymer] .disabled:active {
  background: #eee;
  color: #aaa;
  box-shadow: none !important;
}
