@import './variables';

#nav{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 32px;
  border-right: 1px solid $light-dark;
  text-align: center;

  &:before {
    height: 100%;
    display: inline-block;
    content: "";
  }

  .avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 38px);
    bottom: 32px;
    @extend .drop-shadow;
    opacity: .9;
  }

  ul.navigation {
    vertical-align: top;
    display: inline-block;
    @extend .reset;

    li {
      list-style: none;
      @extend .reset;
      @extend .fluze;
      color: $font-color;
      background-color: transparent;
      padding: 18px;
      font-size: 2em;
      margin-bottom: 60px;
      cursor: pointer;
      transition: all .2s, box-shadow .5s;

      i {
        display: block;
      }

      &.active {
        color: #fff;
        background: #3b9df9;
        @extend .drop-shadow;
        opacity: 1;
      }
    }
  }
}
