.align
.centered.e1
  .form
    input#mail(type="text", placeholder="Mail", value="test@rementis.com")
    input#password(type="password", placeholder="Password", value="azerty666")
    .loader
  button.connect(polymer) Connection

.centered.e2
  .avatar
    .loader-circle
    .loader-line-mask
      .loader-line
  h3

