doctype html
head
  meta(charset='UTF-8')
  title Hello World!
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css")
body
  #background
  #layout


.tpls
  include ./templates
//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

